body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background: url(background.jpg);
    height: 100vh;
    background-size: cover;
}

.scoreboard {
    position: fixed;
    top: 20px;
    left: 200px;
    color: #000;
    
}

canvas {
    position: fixed;
    top: 100px;
    left: 20px;
    border: 4px solid #10002b;
    border-radius: 15px;
    box-shadow: 0 0 5px #c77dff;
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

#restartButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#restartButton:hover {
    background-color: #45a049;
}

.music{
    width: 300px;
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(255,255,255,0.8);
}
